.disclaimer-content * {
    background: transparent !important; /* Remove any background */
    color: white !important;   
    border:none !important        /* Ensure text is visible on all backgrounds */
  }

.ticket-content img{
  display:none !important;
}